albumentations
branca
folium
geopandas
ipykernel
ipywidgets
jupyter
matplotlib
numpy
opencv-python
openpyxl
pandas
pytorch-lightning
rasterio
scikit-image
scikit-learn
scipy
segmentation-models-pytorch
shapely
torch
torchmetrics
torchvision
tqdm
